{% if request.user.is_authenticated %}
    <p>{{request.user}}</p>
    <a href="{% url 'logout' %}">Log Out</a>
{% else %}
    <a href="{% url 'login' %}">Log In</a>
{% endif %}

<h1>To Do List</h1>

<table>
    <tr>
        <th>Tasks</th>
        <th>Show</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task' task.id %}">View</a></td>
        <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
    </tr>
    {% empty %}
        <h3>No Items</h3>
    {% endfor %}
</table>
<br><br><br>
<a href="{% url 'task-create' %}">Add Task</a>